<h1 class="page-header">Overview</h1>

<p>A sample application showing Venmurasu Search functionality.</p>
<p>Click 'Search' from the left navigation, enter the word or phrase to search for.</p>
<p>The results should show up with the word/phrase highlighted. Clicking on the Chapter should take you to the corresponding web page of venmurasu.in</p>
<p> The Search query accepts following options currently:</p>
<p>Search by phrase or word like:</p>
<li>அர்ஜுனன்</li>
<li>"இளைய யாதவர்"</li>
<li>"நுரை எழுந்து காத்திருக்கிறது பாலாழி"</li>

<p></p>
<p>Search by tags like:</p>
<li>tags:அர்ஜுனன்</li>
<li>tags:திருஷ்டத்யும்னன்</li>
<p></p>
<p>Combined search like:</p>
<li>search:'இளைய யாதவர்'  tags:அர்ஜுனன்</li>


<script>
Prism.highlightAll();
</script>


